@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color: #38373b; */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #38373b;
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 28px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #55555a;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #55555a;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

/* profile */
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #55555a;
  padding: 6px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #55555a;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile-names {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile-names {
  display: none;
}

/* sidebar dropdown menu */
.home-section {
  position: relative;
  background: #ffffff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5 ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-content .bx-menu,
.home-content .text {
  color: #000000;
  font-size: 35px;
  cursor: pointer;
}

.home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-content .text {
  font-size: 25px;
  font-weight: 600;
}

h1 {
  font-size: 50px;
  padding-left: 20px;
  padding-top: 10px;
}

.table-container {
  width: fit-content;
  /* max-width: 100%; */
  overflow-x: hidden;
  border-radius: 10px;
 
}

.table-wrapper {
  border-collapse: collapse;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 1%;
  height: auto;
  position: relative;
  margin-bottom: 10%;
 
}

.outer-wrapper {
  border: 2px saddlebrown;
        box-shadow: 0px 0px 6px rgb(91, 87, 85);
        margin: 20px;
        border-radius: 10px;
  
}

#head{
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 1;
  margin-top: 10px;
}

td {
  width: fit-content;
  padding: 7px;
  padding-left: 10px;
  font-size: 8;
  word-break: break-word;
}
th,
td {
  border-bottom: 1px solid rgb(150, 149, 149);
  align-items: center;
  overflow: auto;
  padding: 10px;
  
}

th {
 
  max-height: fit-content;
        padding: 10px;
        position: sticky;
        top: 0px;
        background-color: rgb(235, 178, 131);
        align-items: center;
        text-align: center;
}
tr{
  border-bottom: 1px solid rgb(150, 149, 149);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

.modal-content {
  position: relative;
  padding: 8px;
  padding-bottom: 10px;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f5eded;
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 500px;
  height: 400px;
  height: auto;
  max-height: 400px;
}

.modal-body {
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 90%;
  max-height: 100%;
  border-radius: 5px;
  max-width: 100%;
  width: auto;
  max-height: calc(100vh - 200px);
}

.modal-body img {
  width: fit-content;
  object-fit: contain;
  object-fit: cover;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.modal-title {
  color: #000000;
  margin-right: 60px;
  flex-grow: 1;
  padding: 5px;
  font-size: 21px;
  font-weight: 500;
}

.closebtn {
  float: right;
  margin-left: 10px;
  top: 45px;
  left: 470px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.modal-body img {
  width: 100%;
  height: 300px;
  display: block;
}

button {
  cursor: pointer;
  font-size: 14px;
  width: 50px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  
}
.del {
  color: #f71e1e;

}

button.del:hover {
  background-color: #f81e1e;
  color: #ffffff;
}
.edit {
  color: blue;
  margin: 3px;
}
button.edit:hover {
  background-color: blue;
  color: #ffffff;
}

.gambar-konten {
  cursor: pointer;
}

a{
  text-decoration: none;
}

