<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
      integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script>
      function register() {
        $.ajax({
          type: "POST",
          url: "/api/register",
          data: {
            id_give: $("#userid").val(),
            pw_give: $("#userpw").val(),
            nickname_give: $("#usernick").val(),
          },
          success: function (response) {
            if (response["result"] === "success") {
              alert("Registration berhasil!");
              window.location.href = "/login";
            } else {
              alert("ID sudah digunakan!");
            }
          },
        });
      }
    </script>
  </head>
  <body>
    <section class="section has-text-centered">
      <h1>Login Page</h1>
      <div class="container" style="width: 60%">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userid">ID</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input id="userid" class="input" type="text" placeholder="My ID" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="userpw">PASSWORD</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input id="userpw" class="input" type="text" placeholder="My Password" />
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="usernick">NICKNAME</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input id="usernick" class="input" type="text" placeholder="My Nickname" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="button is-primary" onclick="register()">User Registration</button>
    </section>
  </body>
</html>
