<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log In | IMA Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Bootstrap JavaScript (Popper.js and Bootstrap JS) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyDE6fAByEZhblqdZ5uR7XAGa9WXLlO3U8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{url_for('static', filename='mystyle.css')}}" rel="stylesheet" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet" />
  </head>
  <body id="bodywt">
    <!-- Navbar -->
    <nav id="navbar" class="is-fixed-top navbar navbar-expand-lg navbar-dark shadow">
      <div class="container">
        <a class="navbar-brand" href="#">IMA Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Program </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Activity Tracker</a></li>
                <li><a class="dropdown-item" href="#">Health Education</a></li>
                <li><a class="dropdown-item" href="#">Workout Training</a></li>
              </ul>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#suggestion">Suggestion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#teams">Teams</a>
            </li>
            <li class="nav-item">
              <button type="button" class="nav-link btn btn-danger" href="#Login">Logout</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Header -->
    <div>
      <section id="headerwt" class="jumbotron text-center">
        <h1 class="headerwt display-1">Workout Training</h1>
        <h3 class="headerwt">Mari latihan bersama kami!</h3>
      </section>
    </div>
    <!-- Akhir Header -->

    <!-- Konten -->
    <div class="container mt-5">
  <section class="jumbotron text-center">
    <div class="row">
      <div class="col-md-2">
        <div class="d-flex flex-column align-items-start">
          
          <div class="col-md-12 mb-4">
            <div class="card text-center" id="cardwt">
              <img src="\static\test.png" class="card-img-top" alt="..." />
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card text-center" id="cardwt">
              <img src="\static\test.png" class="card-img-top" alt="..." />
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card text-center" id="cardwt">
              <img src="\static\test.png" class="card-img-top" alt="..." />
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card text-center" id="cardwt">
              <img src="\static\test.png" class="card-img-top" alt="..." />
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card text-center" id="cardwt">
              <img src="\static\test.png" class="card-img-top" alt="..." />
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <div class="card text-center" id="cardwt">
              <img src="\static\test.png" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 mb-4">
        <div class="main-content">
          <img src="\static\test.png" class="card-img-top" alt="..." />
        </div>
      </div>
    </div>
  </section>
</div>

    <!-- Akhir Konten -->
    <!-- Footer -->
    <div id="footerlp">
      <div>
        <a href="https://www.instagram.com/" class="text-white me-5" id="footericon"><i class="bi bi-instagram"></i></a>
        <a href="mailto:your.email@example.com" class="text-white me-5" id="footericon"><i class="bi bi-envelope"></i></a>
        <a href="tel:+1234567890" class="text-white" id="footericon"><i class="bi bi-telephone"></i></a>
      </div>
      <footer class="text-white text-center pb-5 pt-5" id="footerluv">Created with <i class="bi bi-heart-fill text-danger"></i> by IMA</footer>
    </div>
    <!-- Akhir Footer -->
  </body>
</html>
